
.pm{
 width: 550px;
 height: 50px;
 padding-left: 200px;
 background-color:rgb(255, 255, 255);


}
.k{
    
    background-color: rgb(9, 112, 9);
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.np{
    background-color:rgb(255, 255, 255);
    float: right;
    width: 200px;
    height: 50px;
    padding-right: 200px;

  
}


.j{
    
   background-color: rgb(0, 183, 255);
   border-color: white; 
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}


 h2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

float: right; 
color: rgb(0, 98, 255);
 }